body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

section {
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  body.dark {
  background-color: #121212;
  color: #ffffff;
}

body.dark header {
  background-color: #000;
}

body.dark section {
  background-color: #1e1e1e;
  color: #ffffff;
}

body.dark .email-link:hover {
  color: #ff9900;
}


  section {
    margin: 10px;
  }
}

